In [1]:
import pandas as pd

In [ ]:
#Q7

In [2]:
data=pd.read_csv("G:/C Drive Backup 29sept2021/Niku/data science assignment/Q7.csv")

In [3]:
data

             Unnamed: 0  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

In [9]:
#for calculating mean,std,range of points 
data['Points'].describe()

count    32.000000
mean      3.596563
std       0.534679
min       2.760000
25%       3.080000
50%       3.695000
75%       3.920000
max       4.930000
Name: Points, dtype: float64

In [5]:
#for calculating median
data['Points'].median()

3.6950000000000003

In [6]:
#variance of points
data['Points'].var()

0.28588135080645166

In [7]:
#mode of points
data['Points'].mode()

0    3.07
1    3.92
dtype: float64

In [8]:
#mean,std,range of score
data['Score'].describe()

count    32.000000
mean      3.217250
std       0.978457
min       1.513000
25%       2.581250
50%       3.325000
75%       3.610000
max       5.424000
Name: Score, dtype: float64

In [10]:
#median of score
data['Score'].median()

3.325

In [11]:
#variance of score
data['Score'].var()

0.9573789677419356

In [12]:
#mode of Score
data['Score'].mode()

0    3.44
dtype: float64

In [13]:
#mean,std,range of Weigh
data['Weigh'].describe()

count    32.000000
mean     17.848750
std       1.786943
min      14.500000
25%      16.892500
50%      17.710000
75%      18.900000
max      22.900000
Name: Weigh, dtype: float64

In [14]:
#variance of weigh
data['Weigh'].var()

3.193166129032258

In [15]:
#median of weigh
data['Weigh'].median()

17.71

In [16]:
#mode of weigh
data['Weigh'].mode()

0    17.02
1    18.90
dtype: float64

In [ ]:
#Q9

In [17]:
data1=pd.read_csv("G:/C Drive Backup 29sept2021/Niku/data science assignment/Q9_a.csv")

In [18]:
data1

    Index  speed  dist
0       1      4     2
1       2      4    10
2       3      7     4
3       4      7    22
4       5      8    16
5       6      9    10
6       7     10    18
7       8     10    26
8       9     10    34
9      10     11    17
10     11     11    28
11     12     12    14
12     13     12    20
13     14     12    24
14     15     12    28
15     16     13    26
16     17     13    34
17     18     13    34
18     19     13    46
19     20     14    26
20     21     14    36
21     22     14    60
22     23     14    80
23     24     15    20
24     25     15    26
25     26     15    54
26     27     16    32
27     28     16    40
28     29     17    32
29     30     17    40
30     31     17    50
31     32     18    42
32     33     18    56
33     34     18    76
34     35     18    84
35     36     19    36
36     37     19    46
37     38     19    68
38     39     20    32
39     40     20    48
40     41     20    52
41     42     20    56
42     43     20    64
43     44     22    66
44     45     23    54
45     46     24    70
46     47     24    92
47     48     24    93
48     49     24   120
49     50     25    85

In [20]:
data1['speed'].skew()

-0.11750986144663393

In [21]:
data1['speed'].kurtosis()

-0.5089944204057617

In [22]:
data1['dist'].skew()

0.8068949601674215

In [23]:
data1['dist'].kurtosis()

0.4050525816795765

In [24]:
data2=pd.read_csv("G:/C Drive Backup 29sept2021/Niku/data science assignment/Q9_b.csv")

In [25]:
data2

    Unnamed: 0          SP         WT
0            1  104.185353  28.762059
1            2  105.461264  30.466833
2            3  105.461264  30.193597
3            4  113.461264  30.632114
4            5  104.461264  29.889149
..         ...         ...        ...
76          77  169.598513  16.132947
77          78  150.576579  37.923113
78          79  151.598513  15.769625
79          80  167.944460  39.423099
80          81  139.840817  34.948615

[81 rows x 3 columns]

In [26]:
data2['SP'].skew()

1.6114501961773586

In [27]:
data2['SP'].kurtosis()

2.9773289437871835

In [28]:
data2['WT'].skew()

-0.6147533255357768

In [29]:
data2['WT'].kurtosis()

0.9502914910300326

In [ ]:
#Q11

In [32]:
from scipy import stats
from scipy.stats import norm

In [34]:
#Average weight of adult in Mexico with 94% Confidence interval
stats.norm.interval(0.94,200,30/(2000**0.5))

(198.738325292158, 201.261674707842)

In [35]:
#Average weight of adult in Mexico with 98% Confidence interval
stats.norm.interval(0.98,200,30/(2000**0.5))

(198.43943840429978, 201.56056159570022)

In [36]:
#Average weight of adult in Mexico with 96% Confidence interval
stats.norm.interval(0.96,200,30/(2000**0.5))

(198.62230334813333, 201.37769665186667)

In [ ]:
#Q20

In [37]:
data3=pd.read_csv("G:/C Drive Backup 29sept2021/Niku/data science assignment/Cars.csv")

In [38]:
data3

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [40]:
#P(MPG>38)
1-stats.norm.cdf(38,data3.MPG.mean(),data3.MPG.std())

0.3475939251582705

In [41]:
#P(MPG<40)
stats.norm.cdf(40,data3.MPG.mean(),data3.MPG.std())

0.7293498762151616

In [43]:
#P(20<MPG<50)
stats.norm.cdf(0.50,data3.MPG.mean(),data3.MPG.std())-stats.norm.cdf(0.20,data3.MPG.mean(),data3.MPG.std())

1.2430968797327613e-05

In [ ]:
#Q21

In [44]:
# mean of MPG
data3['MPG'].mean()

34.422075728024666

In [45]:
#median of MPG
data3['MPG'].median()

35.15272697

In [46]:
#skewness of MPG
data3['MPG'].skew()

-0.17794674747025727

In [47]:
#mode of MPG
data3['MPG'].mode()

0    29.629936
dtype: float64

In [49]:
data4=pd.read_csv("G:/C Drive Backup 29sept2021/Niku/data science assignment/wc-at.csv")

####

In [50]:
data4

      Waist      AT
0     74.75   25.72
1     72.60   25.89
2     81.80   42.60
3     83.95   42.80
4     74.65   29.84
..      ...     ...
104  100.10  124.00
105   93.30   62.20
106  101.80  133.00
107  107.90  208.00
108  108.50  208.00

[109 rows x 2 columns]

In [51]:
#mean of waist
data4['Waist'].mean()

91.90183486238533

In [52]:
#median of waist
data4['Waist'].median()

90.8

In [53]:
#mode of waist
data4['Waist'].mode()

0     94.5
1    106.0
2    108.5
dtype: float64

In [ ]:
#Q22

In [54]:
#Z score for 90% confidence interval is
stats.norm.ppf(0.95)

1.6448536269514722

In [55]:
#Z score for 94% confidence interval is
stats.norm.ppf(0.97)

1.8807936081512509

In [56]:
#Z score for 60% confidence interval is
stats.norm.ppf(0.8)

0.8416212335729143

In [ ]:
#Q23

In [57]:
#T score of 95% confidence interval for sample size 25 is
stats.t.ppf(0.975,24)

2.0638985616280205

In [58]:
#T score of 96% confidence interval for sample size 25 is
stats.t.ppf(0.98,24)

2.1715446760080677

In [59]:
#T score of 99% confidence interval for sample size 25 is
stats.t.ppf(0.995,24)

2.796939504772804

In [ ]:
#Q24

In [60]:
#t value
t=(260-270)/(90/18**0.5)

In [61]:
t

-0.4714045207910317

In [63]:
#p value
p_value=1-stats.t.cdf(abs(-0.4714),df=17)

In [64]:
p_value

0.32167411684460556